.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

@media screen and (max-width:420px){
  *{
    margin: 0;
  }

  h1{
    font-size: 3em;
    padding-top: 10px;
  }

  div{
    font-size: 1.2em;
  }

  img{
    margin-top: 30px;
  }

  .right{
    padding: 2px;
  }

  .row{
    margin: 0;
  }

  .container.grey{
    background-color: white;
  }

  #lezioni .row, #why .row{
    background-color: #F2F2CD;
    padding: 10px;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: left;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 100%;
  }

  hr{
    background-color: black;
  }
}

@media screen and (min-width:421px) and (max-width:760px){
  *{
    margin: 0;
  }

  h1{
    font-size: 4em;
    font-weight: lighter;
  }

  div{
    font-size: 1.3em;
    font-style: oblique;
  }

  img{
    margin: 50px 0;
    height:400px;
  }

  .row{
    margin: 0;
  }

  #lezioni .row{
    background: linear-gradient(to bottom, #000000, #434343);
    color: #A1ADC1;
    padding: 10px;
  }

  #steps .row{
    background-color: #434343;
    color: orange;
    padding: 10px;
  }

  #why .row{
    background: linear-gradient(to top, #000000, #434343);
    color: #428BCA;
    padding: 10px;
  }

  /* BLOCCO LEZIONI */
  #lezioni .row>.left,
  #lezioni .row>.right {
    width: 100%;
    float: left;
  }

  /* BLOCCO STEPS */
  #steps .row>.left,
  #steps .row>.central,
  #steps .row>.right {
    float: left;
    width: 100%;
  }

  hr{
    display: none;
  }
}
